<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Create Recipe</title>
</head>
<body class="bg-info vh-80">
    <nav class="navbar sticky-top navbar-dark bg-secondary">
        <div class="d-flex w-100 justify-content-between">
            <h2 class="text-white p-3">Recipe Share</h2>
            <div class="d-flex w-75 justify-content-end">
                
                <button class="shadow bg-success text-light border-0 rounded-4 m-3 p-2">
                    <a class="text-white text-decoration-none" href="/wall">Home</a>
                </button>
                <button class="shadow bg-success text-light border-0 rounded-4 m-3 p-2">
                    <a class="text-white text-decoration-none" href="/wall/new_recipe">+ Create</a>
                </button>
                <button class="shadow bg-success text-light border-0 rounded-4 m-3 p-2">
                    <a class="text-white text-decoration-none" href="/logout">Logout</a>
                </button>
            </div>
        </div>
    </nav>
    
    
    <div class="w-80 d-flex justify-content-center m-5 gap-5">
        <div class="w-50 shadow-lg bg-secondary text-white rounded-5 p-5 ">
            <h2>Add new Recipe!</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-danger">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            
            <form class="d-flex d-inline gap-5" action="/wall/create" method="POST">
                <input type="hidden" name="user_id" value="{{the_user.id}}">
                <div> 
                    <div class="form-group ">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control " id="name" name="name"
                        value="{{ session['user_id']['name'] if 'user_id' in session else '' }}">
                    </div>
                    <div class="form-group ">
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" id="description" name="description"
                        value="{{ session['user_id']['description'] if 'user_id' in session else '' }}">
                    </div>
                    <div class="form-group ">
                        <label for="instructions">instruction:</label>
                        <input type="" class="form-control" id="instructions" name="instructions"
                        value="{{ session['user_id']['instructions'] if 'user_id' in session else '' }}">
                    </div>
                </div>
                <div class="mt-5 d-flex flex-column">
                    <div class="form-group">
                        <label for="date_cooked">Date Cooked/Made</label>
                        <input type="date" class="form-control" name="date_cooked" id="date_cooked">
                    </div>
                    <div class="form-group">
                        <label for="date_cooked">Under 30 minutes?</label>
                        
                    </div>
                    <div class="form-check">
                        <input type="radio" name="u_30" id="u_30" value="1" 
                            class="form-check-input" >
                        <label for="u_30" class="form-label">Yes</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" name="u_30" id="un_30" value="0" 
                            class="form-check-input">
                        <label for="under_30" class="form-label">No</label>
                    </div>
                    <button class="mt-5 btn btn-success shadow-lg" type="submit">Create</button>
                </div>
                

            </form>
            
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>