<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Edit Recipe</title>
</head>
<body class="bg-info vh-80">
    <nav class="navbar sticky-top navbar-dark bg-secondary">
        <div class="d-flex w-100 justify-content-between">
            <h2 class="text-white p-3">Recipe Share</h2>
            <div class="d-flex w-75 justify-content-end">
                
                <button class="shadow bg-success text-light border-0 rounded-4 m-3 p-2">
                    <a class="text-white text-decoration-none" href="/wall">Home</a>
                </button>
                <button class="shadow bg-success text-light border-0 rounded-4 m-3 p-2">
                    <a class="text-white text-decoration-none" href="/wall/new_recipe">+ Create</a>
                </button>
                <button class="shadow bg-success text-light border-0 rounded-4 m-3 p-2">
                    <a class="text-white text-decoration-none" href="/logout">Logout</a>
                </button>
            </div>
        </div>
    </nav>

    <div class="w-80 d-flex justify-content-center m-5 gap-5">
        <div class="w-50 shadow-lg bg-secondary text-white rounded-5 p-5 ">
            <h2>Edit Your Recipe!</h2>
            <form class="d-flex d-inline gap-5" action="/recipes/update/{{the_recipe.id}}" method="post">
                <div> 
                    <div class="form-group ">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control " id="name" name="name"
                        value="{{the_recipe.name}}">
                    </div>
                    <div class="form-group ">
                        <label for="description">Description:</label>
                        <textarea class="form-control" id="description" name="description">{{the_recipe.description}}</textarea>
                    </div>
                    <div class="form-group ">
                        <label for="instructions">instructions:</label>
                        <textarea class="form-control" rows="5" id="instructions" name="instructions">{{the_recipe.instructions}}</textarea>
                    </div>
                    <div class="bg-danger text-warning mt-3">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                <h5 class="p-2">{{message}}</h5>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="mt-5 d-flex flex-column">
                    <div class="form-group">
                        <label for="date_cooked">Date Cooked/Made</label>
                        <input type="date" class="form-control" name="date_cooked" id="date_cooked" value="{{the_recipe.date_cooked}}">
                    </div>
                    <div class="form-group my-3">
                        <label for="u_30">Under 30 minutes?</label>
                        
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label for="u_30" class="btn btn-dark active">
                        {% if the_recipe.u_30 == 1 %}    
                        <input type="radio" name="u_30" id="u_30" value="1" class="form-check-input mx-3" checked>Yes
                        <input type="radio" name="u_30" id="u30" value="0" class="form-check-input mx-3" >No
                        {% else %}
                        <input type="radio" name="u_30" id="u_30" value="1" class="form-check-input mx-3" >Yes
                        <input type="radio" name="u_30" id="u30" value="0" class="form-check-input mx-3" checked>No
                        {% endif %}
                        </label>
                    
                        
                    </div>

                    
                    <button class="mt-5 btn btn-success shadow-lg" type="submit">Update</button>
                </div>


            </form>
        </div>
    </div>



    
    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>