<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        
        <form class="mainForm" action="/create" method="POST">
            <h2>Add a New User:</h2>
            <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="error">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name">
            <label for="email">Email:</label>
            <input type="text" name="email">
            
            <input class="submit" type="submit" value="Create new User">
        </form>
    </div>
</body>
</html>
