<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Show</title>
</head>
<body>
    <h2>Title: book name</h2>
    <p>Favorited by: list of the authors</p>
    <br>
    <h2>Add Book's Favorite</h2>
    <p>Author: dropdown with the rest authors</p>
    <p>Add: from dropdown moving the author to title, favorited by section</p>
    <br>
    <p>home</p>
    
</body>
</html>