<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <title>Dojo Show</title>
</head>
<body>
    <h2>dojo html</h2>
    <h2>Dojo name - {{dojo.name}}</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        {% for i in dojo.ninjas %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.first_name }}</td>
            <td>{{ i.last_name }}</td>
            <td>{{ i.age }}</td>
            {% endfor %}
        </tr>
    </table>
    <a href="/">Get Back</a>
</body>
</html>